body{
    background-color: black;
    color: whitesmoke;
}
#f-typegt{
    /* display: ; */
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #0c0c9f75;
}
#f-typegt img{
    opacity: .8;
    justify-content: center;
}
.specs{
    display: flex;
    justify-content: space-around;
    padding: 5%;
}
#cartitle{
    margin-left: 2%;
    margin-top: 1%;
    color: #dddcdadc;
    text-align: right;
}
.ei{
        width: 90%;
        height: 700px;
    }
.mh{
        background-color: #9e6d6da2;
        padding: 3%;
}
#buyinfo{
    background-color: #789ce6d0;
}